.loginForm {
  padding: 0 25px;
  align-content: center;
}
/* .h1Login {
    padding: 0 25px;
  }
  .h3Login {
    padding: 0 25px;
  } */
.form-group {
  padding: 0 25px;
  align-content: center;
}
/* .btn-warning {
    padding: 0 25px;
    align-content: center;
  } */
